<div class="row">
  <div class="col-xs-12">
    <img [src]=recipeForShowingDetails.imagePath
         [alt]=recipeForShowingDetails.name
         class="img-fluid">
  </div>
</div>

<div class="row">
  <div class="col-xs-12">
    {{recipeForShowingDetails.name}}
  </div>
</div>

<div class="row">
  <div class="col-xs-12">
    <div class="btn-group">
      <button type="button" class="btn btn-primary dropdown-toggle">
        Manage Recipe
      </button>
      <li class="dropdown-menu"><a href="#">to shopping list</a></li>
      <li class="dropdown-menu"><a href="#">edit recipe</a></li>
      <li class="dropdown-menu"><a href="#">delete recipe</a></li>
    </div>
  </div>
</div>

<div class="row">
  <div class="col-12">
    {{recipeForShowingDetails.description}}
  </div>
</div>

<div class="row">
  <div class="col-12">
    Ingredients
  </div>
</div>
